<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Create Chatroom</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <div>
        <h1>Create a new Chatroom</h1>
    </div>
    <form th:action="@{/create-chatroom}" th:object="${chatroom}"
      method="post" style="max-width: 600px; margin: 0 auto;">
    <div class="m-3">
        <div class="form-group row">
            <label class="col-4 col-form-label">Name: </label>
            <div class="col-8">
                <input type="text" th:name="name" class="form-control"/>
            </div>
        </div>
        <div class="form-group row">
            <div>
                <input type="radio" id="public" th:name="status" class="form-control">
                <label for="public">Public</label>
            </div>
            <div>
                <input type="radio" id="private" th:name="status" class="form-control">
                <label for="private">Private</label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-4 col-form-label">User Count: </label>
            <div class="col-8">
                <input type="number" th:name="userCount" class="form-control"
                       required minlength="0"/>
            </div>
        </div-->

        <div>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>
</form>
</div>
</body>
</html>