<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration Success</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <h3>You have created a chatroom successfully!</h3>
    <h3 class="title" th:text="${chatroom.name}"></h3>

    <div th:if="${nomail}" class="chatroom-box">
        <h1 class="message" th:text="${nomail}"></h1>
    </div>

    <div th:if="${nouser}" class="chatroom-box">
        <h1 class="message" th:text="${nouser}"></h1>
    </div>

    <div th:if="${onemail}" class="chatroom-box">
        <h1 class="message" th:text="${onemail}"></h1>
    </div>

    <div th:if="${missmatch}" class="chatroom-box">
        <h1 class="message" th:text="${missmatch}"></h1>
    </div>

    <div th:if="${success}" class="chatroom-box">
        <h6 class="list-title"> Following e-mails were successfully added:</h6>
        <ul th:each="mail: ${success}">
            <li class="list">
                <a class="list-mail" th:text="${mail}"></a>
            </li>
        </ul>
    </div>
    <div th:if="${failed}" class="chatroom-box">
        <h6 class="list-title"> Cannot find user for e-mails:</h6>
        <ul th:each="mail: ${failed}">
            <li class="list">
                <a class="list-mail" th:text="${mail}"></a>
            </li>
        </ul>
    </div>

    <h4><a th:href="@{/home}">Click here</a></h4>
</div>

</body>
</html>