<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KTH Chatroom ID1212</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <h3>User</h3>
    <h6 th:text="${user.username}"></h6>
    <form th:action="@{/logout}" method="GET" style="max-width: 600px; margin: 0 auto";>
        <label class="col-4 col-form-label"> Done? </label>
        <button type="submit" class="btn">Log out</button>
    </form>
    <form th:action="@{/create-chatroom}" method="GET" style="max-width: 600px; margin: 0 auto";>
        <label class="col-4 col-form-label"> Create a new chatroom? </label>
        <button type="submit" class="btn">Add</button>
    </form>

    <h6> Your Chatrooms </h6>
    <div>
        <ul th:each="chatroom: ${chatroom}">
            <li>
                <a th:href="@{/chatroom/{id}(id=${chatroom.id})}" th:text="${chatroom.name}"></a>
                <form th:action="@{/leave-chatroom/{id}(id=${chatroom.id})}" method="GET" style="max-width: 600px; margin: 0 auto";>
                    <button type="submit" class="btn">Leave</button>
                </form>
            </li>
        </ul>
    </div>

    <h6> Public Chatrooms you can Join </h6>
    <div>
        <ul th:each="chatroom: ${pubchatroom}">
            <li>
                <a th:href="@{/chatroom/{id}(id=${chatroom.id})}" th:text="${chatroom.name}"></a>
            </li>
        </ul>
    </div>

</body>
</html>