<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--body-->
<div id="username-page">
<div class="username-page-container">
    <h1 class="title">Type your username</h1>
    <h1 style="display:none" class="title" id="favoriteStatus" th:text="${favorite}"></h1>
    <h1 style="display:none" class="title" id="favoriteString" th:text="${favString}"></h1>
    <div class="favorite">
        <div th:if="${favorite}" id="favoriteChecked" class="chat-header col form-group" style="text-align: right; display:block;">
            <div class="accent username-submit" style="display: none;">Favorite</div>
        </div>
        <form id="favoriteForm" class="chat-header col" style="text-align: right; display:none;">
            <div id="favoriteButton" class="form-group" style="display:block;">
                <button type="submit" class="star accent username-submit"><img src="https://img.icons8.com/color/48/000000/star--v1.png"/></button>
            </div>
        </form>
        <form id="removeFavoriteForm" class="chat-header col" style="text-align: right; display:none;">
            <div id="removeFavoriteButton" class="form-group" style="display:block;">
                <button type="submit" class=" star accent username-submit"><img src="https://img.icons8.com/fluency/48/000000/star.png"/></button>
            </div>
        </form>
    </div>
    <form id="usernameForm" name="usernameForm">
        <div class="form-group">
            <input type="text" id="name" placeholder="Username" autocomplete="off" class="form-control" />
        </div>
        <div class="form-group">
            <button type="submit" class="accent username-submit">Start Chatting</button>
        </div>
    </form>
</div>
</div>

<div id="chat-page">
    <div class="chat-container">
        <div class="chat-header">
            <h2>Spring WebSocket Chat Demo</h2>
        </div>
        <ul id="messageArea">

        </ul>
        <form id="messageForm" name="messageForm">
            <div class="form-group">
                <input type="text" id="message" placeholder="Type a message..." autocomplete="off" class="form-control"/>
            </div>
            <div class="form-group">
                <button type="submit" class="primary">Send</button>
            </div>
        </form>
    </div>
</div>
<div class="text-center footer">
    <h4><a th:href="@{/home}" id="back-to-home-btn">Back to Chatroom Home</a></h4>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</body>
<script>
    'use strict';

    var joinCounts = 0;
    var chatCounts = 1; // Reset at each sendMessage to zero. Only send message when chatCount = 0
    var leaveCounts = 0;
    var stompClient = null;
    var username = null;
    var dateTime = null;


    var usernamePage = document.querySelector('#username-page');
    var chatPage = document.querySelector('#chat-page');
    var usernameForm = document.querySelector('#usernameForm');
    var messageForm = document.querySelector('#messageForm');
    var messageInput = document.querySelector('#message');
    var messageArea = document.querySelector('#messageArea');
    var connectingElement = document.querySelector('.connecting');

    var stompClient = null;
    var username = null;

    var colors = [
        '#2196F3', '#32c787', '#00BCD4', '#ff5652',
        '#ffc107', '#ff85af', '#FF9800', '#39bbb0'
    ];

    function connect(event) {
        username = document.querySelector('#name').value.trim();

        if(username) {
            var socket = new SockJS('/ws');
            stompClient = Stomp.over(socket);

            stompClient.connect({}, onConnected, onError);
        }
        event.preventDefault();
    }

    function onConnected() {
        // Subscribe to the Public Topic
        stompClient.subscribe('/topic/public', onMessageReceived);
        stompClient.subscribe('/topic/favorite', onFavoriteStatusChange);
        // Tell your username to the server
        stompClient.send("/app/chat.addUser",
            {},
            JSON.stringify({sender: username, type: 'JOIN'})  // adding user in ChatController and sending join
        )
    }


    function leave(event) {
        messageForm.style.display = "none";  // <-- Set it back to none to hide display
        startForm.style.display = "block";

        username = document.querySelector('#name').value.trim();
        if(username) {
            var chatMessage = {
                sender: username,
                type: 'LEAVE',
            };
            stompClient.send("/app/chat.leaveUser", {}, JSON.stringify(chatMessage));
        }
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/home");
        xhr.send();
    }

    function onError(error) {
        connectingElement.textContent = 'Could not connect to WebSocket server. Please refresh this page to try again!';
        connectingElement.style.color = 'red';
    }


    function sendMessage(event) {
        var messageContent = messageInput.value.trim();

        if(messageContent && stompClient) {
            var chatMessage = {
                sender: username,
                content: messageInput.value,
                type:'CHAT',
                date: new Date().toLocaleString('sv-SE'),
                chatroomId: 2,
                userId : 1,
                fileId: null
            };
            stompClient.send("/app/chat.sendMessage", {}, JSON.stringify(chatMessage));
            messageInput.value = '';
        }
        event.preventDefault();
    }


    function onMessageReceived(payload) {
        var message = JSON.parse(payload.body);

        var messageElement = document.createElement('li');  // create list element;

        if(message.type === 'JOIN') {
            if(joinCounts === 0) {
                messageElement.classList.add('event-message');
                messageElement.classList.add('list-group-item');
                messageElement.classList.add('list-message');
                message.content = message.sender + ' joined!'; // message when joining
            }
            else{
                messageElement = null;
            }
            joinCounts = joinCounts + 1;
        } else if (message.type === 'LEAVE') {
            if(leaveCounts === 0) {
                messageElement.classList.add('event-message');
                messageElement.classList.add('list-group-item');
                messageElement.classList.add('list-message');
                message.content = message.sender + ' left!'; // message when leaving
            }
            else{
                messageElement = null;
            }
            leaveCounts = leaveCounts + 1;

        } else { // message.type: CHAT or other
            if(chatCounts !== 0) {
                messageElement = null;
            }
            if(messageElement !== null) {
                joinCounts = 0;
                leaveCounts = 0;
                messageElement.classList.add('chat-message');
                messageElement.classList.add('list-group-item');
                messageElement.classList.add('list-message');

                var usernameElement = document.createElement('span'); // span - tag for username sender
                var usernameText = document.createTextNode(message.sender);
                usernameElement.classList.add('username-span');
                usernameElement.appendChild(usernameText);
                messageElement.appendChild(usernameElement);
                chatCounts = chatCounts + 1;
            }
        }
        if(messageElement !== null) {
            const textElement = document.createElement('p');
            if(message.type === 'FILE'){
                /*const fileUrlElement = document.createElement('a');
                fileUrlElement.href = message.content;
                fileUrlElement.target = "'_blank'";
                fileUrlElement.text = message.content;
                textElement.appendChild(fileUrlElement);*/
                textElement.innerHTML = message.content;
            } else {
                const messageText = document.createTextNode(message.content);
                textElement.appendChild(messageText);
            } // p - tag for message content

            messageElement.appendChild(textElement);
            messageArea.appendChild(messageElement);
            messageArea.scrollTop = messageArea.scrollHeight;  // all inserted into ul tag with id messageArea
        }
        gotoBottom("chat-messages-id");
    }



    function makeFavorite(event) {
        //stompClient.subscribe('/topic/favorite', onFavoriteStatusChange);
        var favorite = 'Favorite';
        favoriteChange(favorite);
        event.preventDefault();
    }

    function removeFavorite(event) {
        //stompClient.subscribe('/topic/favorite', onFavoriteStatusChange);
        var favorite = 'RemoveFavorite';
        favoriteChange(favorite);
        event.preventDefault();
    }

    function favoriteChange(favorite) {
        var chatroomId = 2;document.querySelector('#chatId').textContent;
        var userId = 1; document.querySelector('#userId').textContent;

        if(chatroomId && userId) {
            var chatMessage = {
                content: favorite,
                chatroomId: chatroomId,
                userId : userId,
            };
            stompClient.send("/app/chat.favorite", {}, JSON.stringify(chatMessage));
        }
    }

    function onFavoriteStatusChange(payload) {
        var message = JSON.parse(payload.body);
        // var messageElement = document.createElement('button'); // create button
        if(message.content === "Favorite") {
            /*removeFavoriteForm.style.display = "block";
            favoriteForm.style.display = "none";
            favoriteChecked.style.display = "block";*/
        } else if (message.content === "RemoveFavorite") {
           /* favoriteForm.style.display = "block";
            removeFavoriteForm.style.display = "none";
            favoriteChecked.style.display = "none";*/
        }
    }

    //usernameForm.addEventListener('submit', connect, true)
    messageForm.addEventListener('submit', sendMessage, true)
    backToHome.addEventListener('click', leave, true)
    favoriteForm.addEventListener('submit', makeFavorite, true)
    removeFavoriteForm.addEventListener('submit', removeFavorite, true)
    //document.addEventListener('DOMContentLoaded', connect, false);
    usernameForm.addEventListener('submit', connect, true)
    messageForm.addEventListener('submit', sendMessage, true)
</script>
</html>